<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>欢迎来到Volerde的个人小站</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/my.css">
</head>
<body>

<!--导航栏-->
    <nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment my-padded-tb-mini my-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">Volerde</h2>
                <a href="index.html" class="item my-item my-mobile-hidden"><i class="home icon"></i>首页</a>
                <a href="classification.html" class="item my-item my-mobile-hidden"><i class="idea icon"></i>分类</a>
                <a href="tags.html" class="item my-item my-mobile-hidden"><i class="tags icon"></i>标签</a>
                <a href="archives.html" class="item my-item my-mobile-hidden"><i class="clone icon"></i>归档</a>
                <a href="about.html" class="item my-item my-mobile-hidden"><i class="info icon"></i>关于我</a>
                <div class="right item my-item my-mobile-hidden">
                    <div class="ui icon input">
<!--                        <label>-->
                            <input type="text" placeholder="Search...">
<!--                        </label>-->
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button my-right-top my-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
<!--Start image-->
    <div class="site-image">
        <div class="site-start">
            <a href="#" th:href="@{/}">
                欢迎来到Volerde的个人小站
            </a>
        </div>
    </div>
<!--中间内容-->
    <div class="my-container my-padded-tb-big">
        <div class="ui container">
            <div class="ui stackable grid">
<!--                article-->
                <div class="eleven wide column">
<!--                    Header -->
                    <div class="ui top attached segment">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <h3 class="ui teal header">博客</h3>
                            </div>
                            <div class="right aligned column">
                                共 <h3 class="ui orange header my-inline-block my-text-thin" th:text="${page.totalElements}"> 14 </h3> 篇
                            </div>
                        </div>
                    </div>
<!--                    Content-->
                    <div class="ui attached segment">
                        <div class="ui vertical segment my-padded-tb-large my-padded-lr" th:each="blog : ${page.content}">
                            <div class="ui middle aligned mobile reversed stackable grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" class="my-text-color-black" th:text="${blog.title}">这里是标题</a></h3>
                                    <p class="my-text" th:text="|${blog.description}......|">正确做好任何-件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已....</p>
                                    <div class="ui stackable grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="https://picsum.photos/id/1005/100/100" th:src="@{${blog.user.avatar}}" alt="" class="ui avatar image">
                                                    <div class="content">
                                                        <div class="header my-text-thin" th:text="${blog.user.nickname}">Volerde</div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateDate,'yyyy-MM-dd')}">2021-8-7</span>
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i><span th:text="${blog.views}">110</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="#" th:href="@{/classification/{id}(id=${blog.type.id})}" class="ui teal basic label my-padded-tiny my-text-thin" th:text="${blog.type.name}">认知升级</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column">
                                    <a href="#" th:href="@{/blog/{id}(id=${blog.id})}">
                                        <img src="https://picsum.photos/id/1005/800/500" th:src="@{${blog.firstPicture}}" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    Footer -->
                    <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <a href="#" th:href="@{/(page=${page.number}-1)}" th:unless="${page.first}" class="ui mini teal basic button">上一页</a>
                            </div>
                            <div class="right aligned column">
                                <a href="#" th:href="@{/(page=${page.number}+1)}" th:unless="${page.last}" class="ui mini teal basic button">下一页</a>
                            </div>
                        </div>
                    </div>
                </div>
<!--                Sidebar-->
                <div class="five wide column">
<!--                    Classification-->
                    <div class="ui segments">
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class="idea icon"></i>分类
                                </div>
                                <div class="right aligned column">
                                    <a href="#" th:href="@{/classification/-1}">more <i class="angle double right icon"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="ui teal segment">
                            <div class="ui fluid vertical menu" th:each="type : ${classification}">
                                <a href="#" th:href="@{/classification/{id}(id=${type.id})}" class="item">
                                    <span th:text="${type.name}">学习日志</span>
                                    <div class="ui left pointing label" th:text="${#arrays.length(type.blogs)}">13</div>
                                </a>
                            </div>
                        </div>
                    </div>
<!--                    label-->
                    <div class="ui segments my-margin-top-large">
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class="tags icon"></i>标签
                                </div>
                                <div class="right aligned column">
                                    <a href="#" th:href="@{/tags/-1}">more <i class="angle double right icon"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="ui teal segment">
                            <a href="#" th:href="@{/tags/{id}(id=${tag.id})}" class="ui teal basic left pointing label my-margin-tb-tiny" th:each="tag : ${tags}">
                                <span th:text="${tag.name}">方法论</span> <div class="detail" th:text="${#arrays.length(tag.blogs)}">12</div>
                            </a>
                        </div>
                    </div>
<!--                    Latest Recommended-->
                    <div class="ui segments my-margin-top-large">
                        <div class="ui secondary segment">
                            <div class="column">
                                <i class="bookmark icon"></i>最新推荐
                            </div>
                        </div>
                        <div class="ui segment" th:each="blog :${recommendBlogs}">
                            <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" class="my-text-color-black my-text-thin" th:text="${blog.title}">User Story</a>
                        </div>
                    </div>
<!--                    QR Code -->
<!--                    <h4 class="ui horizontal divider header my-margin-top-large">Scanf QR code</h4>-->
<!--                    <div class="ui centered card" style="width:110px">-->
<!--                        <img src="../static/images/footer_photo.jpg" th:src="@{images/footer_photo.jpg}" alt="" class="ui rounded image">-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>

<br><br>

<!--底部footer-->
    <footer th:replace="_fragments :: footer" class="ui inverted vertical segment my-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted list">
                        <div class="item">
                            <img src="../static/images/footer_photo.jpg" th:src="@{images/footer_photo.jpg}" class="ui rounded image" alt="" style="width: 110px">
                        </div>
                    </div>
                </div>
                <div class="three wide column ">
                    <h4 class="ui inverted header my-text-lined my-text-spaced my-text-thin">最新文章</h4>
                    <div class="ui inverted link list my-text-lined my-text-spaced my-text-thin my-opacity-mini">
                        <a href="#" class="item">用户故事</a>
                        <a href="#" class="item">用户故事</a>
                        <a href="#" class="item">用户故事</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header my-text-lined my-text-spaced my-text-thin">联系我</h4>
                    <div class="ui inverted link list my-text-lined my-text-spaced my-text-thin my-opacity-mini">
                        <a href="#" class="item">Email：Volerde@outlook.com</a>
                        <a href="#" class="item">QQ：2398146387</a>
                        <a href="#" class="item">Github：Volerde</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header my-text-lined my-text-spaced my-text-thin">Blog</h4>
                    <p class="my-text-lined my-text-spaced my-text-thin my-opacity-mini my-opacity-mini">这是我的个人博客......</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="my-text-lined my-text-spaced my-text-thin my-opacity-tiny">copyright@2021-2022</p>
        </div>
    </footer>


<!--/*/<th:block th:replace="_fragments :: script">/*/-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    $('.menu.toggle').click(function () {
        $('.my-item').toggleClass('my-mobile-hidden');
    });
</script>
</body>
</html>